html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header, footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: goldenrod;
  height: 10%;
}
h1 {
  margin: 0px;
}
label {
  display: block;
  padding-bottom: 10px;
}
main {
  height: 80%;
  width: 100%;
  overflow-y: auto;
  background-color: #AAAAAA;
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead > tr > th {
  font-size: 20px;
  position: sticky; 
  top: 0; 
  z-index: 1;
  background-color: coral;
  cursor: pointer;
}
.tableResponsive {
  overflow-y: auto;
  height: 100%;
}
tr {
  height: 50px;
}
#contenedor {
  box-sizing: border-box;
  height: 95%;
  background-color: darkcyan;
}
tbody tr:nth-child(odd) {
background: rgba(0,0,0,.2);
}
.btn {
  height: 50px;
  width: auto;
  font-size: 20px;
}
.cellData {
  text-align: center;
}
[campo-dato='id'] {
  width: 5%;
}
@media (max-width: 600px){ 
  [campo-dato='fecha'] {
    display:none;
  }
}
@media (max-width: 500px){ 
  [campo-dato='tipoDoc'] {
    display:none;
  }
}